# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Front-end dependencies
/front-end-mean/node_modules/

# Back-end dependencies
/node-server/node_modules/
.env

# VSCode
/front-end-mean/.vscode
*.code-workspace

# IDEs and editors
/front-end-mean/.idea
/node-server/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
